<footer class="text-left">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 footer-col">
                <a class="nav-link fs-4 fw-bold" aria-hidden="true" href="#">Design & security web</a>
                <br><br>
                <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
                    <i class="bi bi-facebook"></i></a>
                <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
                    <i class="bi bi-linkedin"></i></a>
                <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
                    <i class="bi bi-youtube"></i></a>
                <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
                    <i class="bi bi-instagram"></i></a>

            </div>
            <div class="col-md-3 footer-col text-left">
                <a class="nav-link fw-bold" aria-hidden="true" href="#">Servicios</a>
                <br>
                <a class="nav-link" href="#">Diseñamos paginas web</a>
                <br>
                <a class="nav-link" href="#">Seguridad</a>
            </div>
            <div class="col-md-3 footer-col">
                <a class="nav-link fw-bold" aria-hidden="true" href="#">Quienes somos</a>
                <br>
                <a>Testimonios</a>
            </div>
            <div class="col-md-3 footer-col">
                <a class="nav-link fw-bold" aria-hidden="true" href="#">Registrate gratis</a>
                <br>
                <a class="nav-link" href="#">Inicia Sesion</a>
                <br>
                <a class="nav-link" href="#">Contactenos</a>
            </div>
        </div>
    </div>
</footer>
