<div class="container-fluid">
    <hr />
    <footer class="text-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 footer-col">
                    <a class="nav-link fs-4 fw-bold" aria-hidden="true" href="#">Design & security web</a>
                    <br><br>
                    <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
                        role="button">
                        <i class="bi bi-facebook"></i></a>
                    <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
                        role="button">
                        <i class="bi bi-linkedin"></i></a>
                    <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
                        role="button">
                        <i class="bi bi-youtube"></i></a>
                    <a mdbRipple rippleColor="dark" class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!"
                        role="button">
                        <i class="bi bi-instagram"></i></a>

                </div>
                <div class="col-md-3 footer-col text-left">
                    <a class="nav-link fw-bold" routerLink="/servicios" aria-hidden="true">Servicios</a>
                    <br>
                    <a class="nav-link" routerLink="/servicios">Diseñamos paginas web</a>
                    <br>
                    <a class="nav-link" routerLink="/servicios">Seguridad</a>
                </div>
                <div class="col-md-3 footer-col">
                    <a class="nav-link fw-bold" aria-hidden="true" routerLink="/nosotros">Quienes somos</a>
                    <br>
                    <a class="nav-link" routerLink="">Testimonios</a>
                </div>
                <div class="col-md-3 footer-col">
                    <a class="nav-link fw-bold" aria-hidden="true" routerLink="/signup">Registrate gratis</a>
                    <br>
                    <a class="nav-link" routerLink="/login">Inicia Sesion</a>
                    <br>
                    <a class="nav-link" routerLink="/contactanos">Contactenos</a>
                </div>
            </div>
        </div>
    </footer>
</div>