<div class="min-vh-100">

    <div class="container py-4 px-4 text-left container-inicio">
        <div class="row align-items-left px-4">
          <div class="col">
            <h2 class="fw-bolder mb-3">Quienes somos</h2>
            <br>
            <p class="fs-5 fw-bold">Tu lo piensas nosotros lo desarrollamos...</p>
            <p>Somos una empresa dedicada a diseñar y desarrollar Software de acuerdo a tus necesidades, 
                nuestro equipo evalúa en un paso a paso las necesidades específicas 
                para crear herramientas que logran que tu empresa se destaque.</p>
            <br>
            <p>Somos un equipo que nos encanta el desarrollo de software, el marketing digital y la transformación digital. </p>
            <br>
            <p>No dudes en escribirnos estamos listos para asesorarte y ayudarte para que tu empresa continue a la vanguardia. </p>
            <br>
            <br>
            <button class="btn btn-dark" routerLink="/contactanos">Contactanos</button>
          </div>
          <div class="col">
            <img src="assets/images/laptop-5673901_1280.jpg" class="img-fluid imagen-us" />
          </div>
        </div>
      </div>
</div>

