<div class="min-vh-100">

    <div class="container px-5 text-center container-inicio">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="fw-bold">Contactanos</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 card">
                <p class="fs-5 py-3 text-center">Quieres conocer mas sobre nosotros no dejes de contactarnos</p>
                <div class="row">
                    <div class="col container-columns">
                        <form>
                            <div class="mb-3">
                                <label for="nombres" class="form-label fw-bold">Ingresa tus nombres</label>
                                <input type="text" class="form-control" name="nombres" id="nombres"
                                    aria-describedby="nombres">
                            </div>
                            <div class="mb-3">
                                <label for="apellidos" class="form-label fw-bold">Ingresa tus apellidos</label>
                                <input type="text" class="form-control" name="apellidos" id="apellidos"
                                    aria-describedby="apellidos">
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label fw-bold">Ingresa tu correo electronico</label>
                                <input type="email" class="form-control" name="correo" id="correo"
                                    aria-describedby="correo">
                            </div>
                            <div class="mb-3">
                                <label for="mensaje" class="form-label fw-bold">Dejanos un mensaje</label>
                                <textarea type="text" class="form-control" name="mensaje" id="mensaje" rows="5"
                                    aria-describedby="mensaje" placeholder="Ingresa tu mensaje"></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col container-column">
                        <img src="assets/images/diseño-logo-4.png" class="img-fluid imagen-logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-5 text-end">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <p class="fs-5 fw-bold">Bogota Colombia</p>
                <p class="buttom">Hall avenue <br>
                    Calle 100 19 00 <br>
                    Tel 601 8 888888
                </p>
            </div>
        </div>
    </div>
</div>