<div min-vh-100>
  <div class="container py-5 px-4 text-center">
    <div class="row align-items-center">
      <div class="col">
        <h1>Nuestros Servicios</h1>
        <br />
        <p class="fs-5">Conoce nuestros servicios</p>
      </div>
    </div>
  </div>

  <div class="container py-4 px-4 text-left">
    <div class="row align-items-left px-4">
      <div class="col">
        <h2>Diseñamos</h2>
        <br />
        <p>Diseñamos y desarrollamos Software de acuerdo a tus necesidades, 
            nuestro equipo evalúa en un paso a paso las necesidades específicas 
            para crear herramientas que logran que tu empresa se destaque.</p>
        <br />
        <button class="btn btn-dark" type="submit">Contactanos</button>
      </div>
      <div class="col">
        <img src="assets/images/computer-4146579_1280.jpg" class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="container py-4 px-4 text-left">
    <div class="row align-items-left px-4">
      <div class="col">
        <img src="assets/images/monitor-1307227_1280.jpg" class="img-fluid" />
      </div>
      <div class="col">
        <h2>Transformamos</h2>
        <br />
        <p>Transformamos tu ideas en software logrando que las experiencias de usuario sean fáciles y
            prácticas para que tus usuarios se sientan satisfechos contribuyendo en la tecnología de tu 
            organización.</p>
        <br />
        <button class="btn btn-dark" type="submit">Contactanos</button>
      </div>
    </div>
  </div>

  <div class="container overflow-hidden py-5 text-left">
    <div class="row">
        <h2>Otros Servicios</h2>
      </div>
    <div class="row gy-5">
      <div class="col-6">
        <i class="p-1 bi bi-globe"></i>
        <div class="p-1">
            <p class="fw-bold">Inteligencia de negocios</p>
            <p>Ayudamos a tu empresa con herramientas de inteligencia de negocios 
                para ayudarte a identificar nuevas oportunidades para que tu empresa 
                mejore el retorno de la inversión y la ventaja competitiva basándose 
                en los conocimientos encontrados.</p>
        </div>
      </div>
      <div class="col-6">
        <i class="p-3 bi bi-person-circle"></i>
        <div class="p-3">
            <p class=" fw-bold">Mantenimiento y Soporte</p>
            <p>Realizamos mantenimiento y soporte a tus aplicaciones. 
                Nuestro diseño web está enfocado en brindar la mejor experiencia a tus usuarios, 
                con información clara y diseños intuitivos.</p>
        </div>
      </div>
      <div class="col-6">
        <i class="p-1 bi bi-lock"></i>
        <div class="p-1">
            <p class="fw-bold">Seguridad</p>
            <p>Ofrecemos servicios de seguridad con tecnología de última generación en servicios
                 de software para que tu empresa este protegida, incluyendo Protección de API, 
                 Seguridad del lado del cliente, Firewall de aplicaciones web y mucho más.</p>
        </div>
      </div>
      <div class="col-6">
        <i class="p-3 bi bi-calendar2-week"></i>
        <div class="p-3">
            <p class="fw-bold">Actualizacion de apps</p>
            <p>
                Actualizamos tu app si tu empresa requiere de nuevas necesidades o 
                funcionalidades que van acompañadas en el crecimiento de tu empresa.
            </p>
        </div>
      </div>
    </div>
  </div>

</div>
