<div min-vh-100>
  <div class="container py-4 px-4 text-center">
    <div class="row align-items-center">
      <div class="col">
        <p class="fs-4">
          Aqui encuentras lo que estas buscando para tu negocio en apps.
        </p>
        <br />
        <button class="btn btn-dark" type="submit">Servicios</button>
      </div>
      <div class="col">
        <img src="assets/images/computer-1231889_1280.jpg" class="img-fluid" />
      </div>
    </div>
  </div>

  <div
    class="container py-4 px-4 text-center"
    style="background-color: #dce2dc"
  >
    <div class="row px-5">
      <h1>
        Diseñamos, construimos y gestionamos la seguridad de tus aplicaciones.
      </h1>
    </div>
    <button class="btn btn-dark" type="submit">Mas información</button>
  </div>

  <div class="container py-5 text-left">
    <div class="row">
      <p class="fs-4">Nuestros servicios</p>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="assets/images/website-3374825_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Diseñamos Apps.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="assets/images/castle-538722_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Gestionamos la seguridad de tus apps.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="assets/images/maintenance-2422171_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Realizamos mantenimiento y soporte.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem">
          <img
            src="assets/images/manhattan-3866140_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">Gestionamos tu negocio.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5 text-left">
    <div class="row">
        <i class="bi bi-person-circle"></i>
      <p class="fs-4 fw-bold">Testimonios</p>
      <div class="col">
        <p class="px-1">Estoy muy satisfecho con la aplicación que nos han realizado, contratamos sus servicios 
            para el desarrollo nuestro sitio web realizaron un excelente aplicación, entendieron nuestras 
            necesidades  y sobre todo se enfocaron en la atención al cliente, recomiendo  
            sin lugar a dudas ya que es una empresa seria, eficiente y  profesional.
            <br>
            <br>
            <i>hola productions </i>
        </p>
      </div>
      <div class="col">
        <p class="px-1">La aplicacion que crearon para nuestra empresa fue lo que necesitábamos. 
          Todos nuestros objetivos se cumplieron. Las respuestas del equipo fueron rápidas, 
          lo cual inspira mucha confianza y seguridad. Son una empresa profesional, 
          siempre pendientes de las solicitudes del cliente. En lo que respecta a la tecnología y al uso de estos recursos
          van un paso adelante.</p>
          <br>
          <i>Diseños creativos O.P</i>
      </div>
    </div>
  </div>
</div>
