<div class="min-vh-100">

    <div class="container px-5 text-center container-inicio">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="fw-bold mb-5">Gestiona los usuarios</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-3 container-columns">
                <ul class="list-group list-group-flush text-start">
                    <li class="list-group-item fw-bold">Menu</li>
                    <br>
                    <li class="list-group-item fw-bold">Cerrar sesion</li>
                    <li class="list-group-item fw-bold"><i class="bi bi-house-door"></i> Inicio</li>
                    <li class="list-group-item fw-bold"><i class="bi bi-search"></i> Buscar</li>
                    <li class="list-group-item fw-bold"><i class="bi bi-broadcast"></i> Gestiona los usuarios</li>
                </ul>
            </div>
            <div class="col md-10 container-column">
                <p class="fs-6 fw-bolder mt-1">Usuarios</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-feedback">
                            <i class="bi bi-search form-control-feedback"></i>
                            <input class="form-control" type="text" placeholder="Buscar usuarios" />
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="form-group has-feedback">
                            <i class="bi bi-funnel form-control-feedback"></i>
                            <input class="form-control" type="text" placeholder="Filter" />
                        </div>
                    </div>
                </div>
                <br>
        <div class="col-md-10">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-8">Nombres</th>
                            <th class="col-md-1">Actualizar</th>
                            <th class="col-md-1">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Administrador</td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-check-circle-fill"></i></button></td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-x-circle-fill"></i></button></td>
                        </tr>
                        <tr>
                            <td>sky125</td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-check-circle-fill"></i></button></td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-x-circle-fill"></i></button></td>
                        </tr>
                        <tr>
                            <td>sea692</td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-check-circle-fill"></i></button></td>
                            <td class="text-center"><button type="submit" class="boton"><i class="bi bi-x-circle-fill"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>