  <nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
      <a class="navbar-brand fw-bolder" href="#">Design & security web</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active fw-bold" aria-current="page" href="#">Servicios</a>
          <a class="nav-link fw-bold" href="#">Quienes Somos</a>
          <a class="nav-link fw-bold" href="#">Contactenos</a>
        </div>
      </div>
      <form class="d-flex">
        <button class="btn btn-dark" type="submit">Iniciar Sesion</button>
      </form>    
    </div>
  </nav>
